body {
  background-color: #DDD;
  width: 480px;
}

.container {
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  width: 440px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h1, h2 {
  margin-left: 95px;
}

#shortly {
  border-top: 0.15em solid #AAA;
  margin: 0 auto;
  width: 80%;
}

form {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.submit {
  margin: 0 auto;
  margin-top: 15px;
}

footer {
  font-size: 0.75em;
  position: fixed;
  bottom: 0;
}
