body {
  background-color: #DDD;
  width: 480px;
}

.container {
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  width: 440px;
}

form {
  margin-top: 30px;
}

.submit {
  margin: 0 auto;
  margin-top: 15px;
}
