body {
  background-color: #DDD;
  width: 90%;
}

.container {
  margin: 0 auto;
  width: 400px;
}

h1 {
  font-size: 4em;
  margin: 0 auto;
  margin-top: 0.4em;
  text-align: center;
}

h2 {
  font-size: 2.1em;
  text-align: center;
}

#shortly {
  border-top: 0.15em solid #AAA;
  margin: 0 auto;
  width: 80%;
}

form {
  font-size: 2em;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

.submit {
  margin: 0 auto;
  margin-top: 15px;
}

footer {
  font-size: 0.75em;
  margin-top: 18em;
  padding: 0 10px;
}
